<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstReport</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js.bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <h1>GET TABLE MFka</h1>
        <br />

        table>
        <tbody>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
            <td>Ячейка 3</td>
        </tr>
        <tr>
            <td>Ячейка 4</td>
            <td>Ячейка 5</td>
            <td>Ячейка 6</td>
        </tr>
        <tr>
            <td>Ячейка 7</td>
            <td>Ячейка 8</td>
            <td>Ячейка 9</td>
        </tr>
        </tbody>
        </table>


    </div>
</div>


</body>
</html>

<script>

</script>