
<!DOCTYPE html>
<html>
<head>
    <title> Json to table using Ajax Jquery getJSON</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="table-responsive">
        <h1> Proyectos Axial</h1>
        <br />
        <table class="table table-bordered table-striped" id="proyecto_table">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>sName</th>
                <th>login</th>
                <th>password</th>
                <th>phone</th>
                <th>email</th>
            </tr>
        </table>
    </div>
</div>

</body>

</html>
<script>
$(document).ready(function(){
	$.getJSON("http://178.62.221.70:8080/users/1",
        function(data){
		var proyecto_data ='';
		$.each(data, function(key, value){
			proyecto_data += '<tr>';
			proyecto_data += '<td>' +value.id+'</td>';
			proyecto_data += '<td>' +value.name+'</td>';
			proyecto_data += '<td>' +value.sName+'</td>';
			proyecto_data += '<td>' +value.login+'</td>';
			proyecto_data += '<td>' +value.password+'</td>';
			proyecto_data += '<td>' +value.phone+'</td>';
			proyecto_data += '<td>' +value.email+'</td>';
			proyecto_data += '<tr>';
		});
		$('#proyecto_table').append(proyecto_data);
	});
});
</script>
